*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    overflow: hidden;
    background: #000;
}

.mail{
    width: 200px;
    height: 120px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    clip-path: polygon(52% 48%, 100% 0, 100% 100%, 0 100%,0 0);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.line{
    position: absolute;
    width: 0%;
    height: 5px;
    background: #000;
    top: 100%;
    left: 0%;
    transform-origin: left;
    transform: rotate(-31deg);
    animation: grow-line-one 1s forwards 1;
    animation-delay: 0.5s;
}

@keyframes grow-line-one{
    0% {
        width: 0;
    }
    100% {
        width: 120%;
    }
}

.line.two{
    width: 0%;
    animation: none;
    top:-1%;
    left: -1%;
    transform: rotate(29deg);
    animation: grow-line-two .5s forwards 1;
    animation-delay: 1s;
}

@keyframes grow-line-two{
    0% {
        width: 0;
    }
    100% {
        width: 60%;
    }
}

.lid,
.mail-backside{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 120px;
    background: #000;
    transform-origin: top;
    background: #fff;
    z-index: 3;
    clip-path: polygon(52% 48%, 100% 0, 0 0);
    transition: 1s;
    animation: open-lid 1s 1.5s forwards 1;
}

.mail-backside{
    z-index: 1;
    animation: none;
    background: rgb(223,223,223);
}

@keyframes open-lid{
    0%{
        transform: translate(-50%,-50%) rotateX(0);
        background: #fff;
    }
    100%{
        transform: translate(-50%,-50%) rotateX(-180deg);
        background: rgb(180,180,180);
    }
}

@keyframes drop-down {
    0%{
        top: 50%;
        opacity: 1;
    }
    100%{
        top: 100%;
        opacity: 0;
    }
}

.header{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    background: #fff;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: roboto, sans-serif;
    animation: scale-up 1s 2.5s forwards 1;
}

@keyframes scale-up {
    0%{
        transform: translate(-50%,-50%) scale(0.1);
    }
    100%{
        transform: translate(-50%,-50%) scale(1);
    }
}

.content{
    width: 600px;
    height: 96vh;
    border: 5px groove black;
    text-align: center;
    padding-inline: 20px;
    color: #000;
    opacity: 0;
    animation: fade-in 1s 3.2s forwards 1;
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.heading{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
}

.firstpara {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-align: justify;
    margin-top: 6px;
    margin-bottom: 6px;
}

.venue {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    font-size: 16px;
}

.commonpara{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-align: justify;
}

.ps{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-align: justify;
}

.belowregards{
    font-size: 14px;
    text-align: justify;
    color: rgba(52, 50, 50, 0.7)
}